.head {
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    width: 1200px;
    height: 600px;
    margin: 50px 140px;
}

.banner {
    padding: 215px 300px 200px 400px;
    align-items: center;
    display: flex;

}

.banner-content {
    max-width: 400px;
}

.banner-gretting {
    text-align: center;
    color: #fff;


}

.banner-title {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 50px;

}

body {
    font-family: Inter, Merriweather;



}

.about {
    background-image: url('../resources/New\ Year\ Photo.png');
    background-repeat: no-repeat;
    background-position: bottom;

}

.section-title {
    text-align: center;
    color: #F00;
    font-weight: 700;
    margin-top: 120px;

}

#lk {
    margin-top: 30px;
}

.title {
    text-align: center;
    color: #070707;
    margin-bottom: 100px;
}


.image {
    display: flex;
    padding: 220px;



}

.Welcome {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    max-width: 530px;
    max-height: 140px;
    padding: 142px 526px 0px 142px;

}

.next {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1320px;
    height: 600px;
    padding: 120px 160px 0 120px;
}

.text {
    color: #fff;
    padding: 0 450px 0 126px;
    width: 520px;
    height: 55px;
}

.btn {
    color: aqua;
    margin-top: 30px;
    margin-left: 159px;
}

.picture {
    background-image: url('../resources/Group\ 70.png');
}

.new {
    text-align: center;
    width: 1300px;
    height: 475px;
    background-color: beige;
    margin: 120px 140px 120px 140px;
}

.line {
    padding: 100px 380px 20px 375px;
    font-weight: 600;
    font-size: 32px;
}

.span {
    color: #F00;
}

.btn-j {
    border-radius: 8px;
    border: none;
    padding: 15px 30px 15px 30px;
    margin-bottom: 100px;
    background-color: red;
}

.item-title {
    color: red;
    margin-left: 140px;

}

.title1 {
    display: flex;
    width: 1450px;
    height: 500px;
    /* background-color: #fff; */
    justify-content: space-between;
    background-image: url('../resources/Eplis.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.item-info {

    margin-left: 140px;


}

.item-desc {
    max-width: 310px;
    max-height: 90px;
    margin-left: 140px;
    margin-right: 50px;
}


.item-two {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 36px;
    margin-right: 280px;


}

.item-description {
    max-width: 230px;
    max-height: 62px;
    margin-right: 200px;
}

.fundamental {
    width: 1400px;
    height: 900px;
    background-color: #fff;
    background-image: url('../resources/Rectangle\ 1.png'), url('../resources/Group\ 75.png'), url('../resources/Rectangle\ 2.png') ;
    background-repeat: no-repeat;
    background-position: center right, bottom left, bottom ;

}

.functional {
    text-align: center;
    margin-top: 60px;
}

.functional-fun {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-top: 30px;
}

.color {
    color: red;
}

.functional-done {

    color: rgba(50, 50, 51, 0.6);
    font-weight: 500;
    width: 800px;
    height: 96px;
    text-align: center;
    margin-left: 300px;
}

.linetext {
    color: red;
    margin-left: 50px;
}

.portfolio {
    margin-left: 50px;
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 900;
}

.dolor {
    color: rgba(33, 33, 33, 0.6);
    font-size: 20px;
    font-weight: 400;
    width: 750px;
    margin-left: 50px;

}

.last {
    background-color: #FFF;
    width: 1450px;
    height: 700px;
}

.party {
    width: 1420px;
    height: 516px;
    background-image: url('../resources/Group\ 61.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: antiquewhite;
    padding: 0 120px 20px 100px;

}

.party-on {
    margin-top: 200px;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    margin-left: 100px;
}

.party-off {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    width: 750px;
    margin-left: 200px;
    padding: 0px 212px 0px 212px;
}

.contact {
    text-align: center;
    margin-top: 20px;
    border-radius: 50px;
}

.tube {
    color: #fff;
    background-color: #F00;
}

footer {
    width: 1600px;
    height: 609px;
    background-color: #070707;
    padding: 120px;
    margin-top: 110px;
    display: flex;

}
.social-links{
    display: block;
}

.footer1 {
    display: flex;
    gap: 100px;
}

.bag1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 18px;

}

.bag {
    color: #fff;
    margin-left: 450px;

}
.bag2{
    color: #fff;
    margin-top: 300px;
}
.bag3{
    color: #fff;
    margin-left: 480px;
    margin-top: 330px;
}